#miImagen{
           width: 300px !important;
    height: 300px !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0px !important;
    left: 382px !important;
    position: relative;
	}
#sonLas{
         width: 338px !important;
    top: -174px !important;
    right: 0px !important;
    bottom: 0px;
    left: 60px !important;
    position: relative;
    
}.ajuste{
    position: absolute;
    top: 24px;
    left: 100px;
    right: 0;
    bottom: 0px;
}
.btn{
    width: 100px !important;
    padding: 0 0 0 0;
}
.botonr{
        background: black;
    left: 99px;
    height: 44px;
    width: 130px;
    position: absolute;
    border: 2px solid;
    color: white;
    border-color: #757575;
    padding: 7px 9px;
    border-radius: 12px;
}
   
.ajuste2{
       position: absolute;
    top: 31px;
    left: 292px;
    right: 0;
    bottom: 0px;
}
.botonr2 {
    background: black;
    left: 0px;
    height: 44px;
    width: 130px;
    position: absolute;
    border: 2px solid;
    color: white;
    border-color: #757575;
    padding: 7px 9px;
    border-radius: 12px;
    top: 48px;
}#sonLass{
       width: 338px !important;
    top: 71px !important;
    right: 0px !important;
    left: 18px;
    
    position: absolute;
    left: 38px !important;
    position: relative;

}
     
